@import url("https://use.typekit.net/wvn5not.css");

body {
  font-family: greycliff-cf, sans-serif;
  font-weight: 300;
}

a {
  @apply
    text-blue-600 !important;
}

a:hover {
  @apply
    underline
}

div.admin-dashboard,
div.blog {
  @apply
    w-full
    min-h-screen
    p-5
}

div.blog {
  @apply
    bg-slate-900
    text-gray-100
}

div.blog a {
  @apply 
    font-semibold;
  color: #FF00E5 !important;
}

div.admin-dashboard {
  @apply
    bg-gray-50
    text-black
}