@import url("https://use.typekit.net/wvn5not.css");

body {
  font-family: greycliff-cf, sans-serif;
  font-weight: 300;
  @apply
    bg-slate-900
    text-gray-100
}

a {
  @apply 
    font-semibold;
  color: #FF00E5 !important;
}

a:hover {
  @apply
    underline
}